.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1506846540181-347008948fff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1186&q=80");
    height: 480px;
}
.nav-link {
    cursor: pointer;
    &:hover {
        transform: scale(1.4);
        color: #630834 !important;
        font-weight: bold;
        transition: 0.5s;
    }
}
.card-text{
    font-family:"Roboto", "sans-serif";
}
.liveReview{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 482px;
}
.mask{
    background-color: #190014CC;
}
.swiper{
    width: 100%;
    img{
    height: 350px;
    }
    & .card{
        border: none;
    }
}